.trc-bg-orange {
  background-color: #00243B;
}

.trc-brand {
  padding-top: 10px;
  background-color: #00243B;

  div.trc-brand-purpose{
    font-weight: bold;
  }

  img.trc-brand-logo{
    max-height: 50px;
  }
  
}